*{
    font-family: 'JetBrains Mono Regular', 'Courier New', monospace;
    color: white;
}

a { 
    text-decoration: none; 
}

body{
    background-color: #131313;
    flex-wrap: wrap;
}

.top-header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
}

.heading-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}